@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
}

/* body */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 20px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.main-wrapper{
    margin: 40px auto;
    width: 80%;
}

main{
    margin: 40px auto;
    width: 80%;
}

/* header */

/* header as a block style
change .logo h1 font weight to 300
nav and transition fonts weight to 300 */

/* header{
position: absolute;
width: 100%;
text-align: center;
background-color: #05173dde;
border-bottom: 5px solid gainsboro;
zoom: 80%;
} */

header {
    position: absolute;
    width: 100%;
    text-align: center;


    background-color: #252525;
    border-bottom: 2px solid gainsboro;
    zoom: 60%;
}

/* Site Logo  */

.logo {
    /* width: 40%; */
    float: left;
    
}

/* header{
    zoom: 60%;
    background-color: rgb(43, 94, 128);
    border-bottom: 6px solid gainsboro;
}
*/

.logo h1 {    
    padding: 5px 25px;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
}

.logo h1:hover{
    transition: 0.5s;
    color: rgb(180, 234, 255);
    cursor: context-menu;
}
/* Nav bar*/

nav ul {

    width: 60%;
    float: right;
    list-style-type: none;
}

nav ul li {
    
    display: inline-block;
}

nav ul li a {
    
    font-weight: 300;

    padding: 15px 30px;
    font-size: 30px;
    display: block;

    text-decoration: none;
    color:#fff;

    /* Required So Nav Bar does not look like it "moves" */
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, 0);

}

nav ul li a:hover{
    font-weight: 300;

    padding: 15px 30px;
    font-size: 30px;
    display: block;

    /* Changes With Hover effect */
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    color: rgb(180, 234, 255);
    transition: 0.5s;
}

/* Banner (component of header, the main video image */

.banner {
    width: 100%;
    height: 75vh;
    /* background-image: url(/media/dl_header2.png); */
    background-size: cover;
    border-bottom: 5px solid gainsboro;
}

.banner-content {
    display: none;
    color: #fff;
    padding: 2em 1em;
}

.banner-content h1:hover{
    transition: 0.5s;
    color: rgb(180, 234, 255);
    cursor: context-menu;
}

/* This transform property lets us focus on a specific part of the video for the banner, in tandem with object cover property */
.banner img{
    transform: translate(-1%, 10%);        
    object-fit: cover;
    

    height: 75vh;
    width: 100vw;

    overflow: hidden;
    position: relative;
    
    bottom: 0;
    right: 0;
}

.banner-video img{
    background-size: cover;
    
}
/* video background */
.banner-video{
    width: 100%;
    height: 75vh;
    position: absolute;
    top: 0;
    left: 0;
    /* overflow */
    overflow: hidden;
    /* z-index moves things in front or behind header banner etc stack order of element positive in front, negative is behind */
    z-index: -1;
}

/* css3 - pseudo elements - :before, :after */

/*  Imagine I want to put something before the nav a */

/* nav a::before{
    content: ':)';
} */


/* If content was filled =>
Would make a transparent background on top video. 
Right now it makes a transparent mask on the video, so text can stand out on the page */
.banner-video::after{
    content: ''; /* No actual content here, just to make a transparent mask */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1; /* Notice this z-index is 1 as compared to z-index -1 of actual banner image video */
}
/* update pls */
/* Button Formatting for all buttons on page */


/* Button on banner */
.btn {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 150px;
    margin: 40px 0;
    text-align: center;
}

.btn:hover{
    border: 2px solid #fff;
    border-radius: 20px;
    background: white;
    padding: 10px;
    text-decoration: none;
    color: rgb(180, 234, 255);;
    display: block;
    width: 150px;
    margin: 40px 0;
    text-align: center;
    transition: 0.5s;
}

/* Buttons within main */
.btn1 {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
    width: 150px;
    margin: 40px 0;
    text-align: center;
}

.btn1:hover{
    border: 2px solid black;
    border-radius: 20px;
    background: black;
    padding: 10px;
    text-decoration: none;
    color: white;
    display: block;
    width: 150px;
    margin: 40px 0;
    text-align: center;
    transition: 0.5s;
}







/* Main formatting */


main .btn {
    border: 2px solid rgb(51, 51, 51);
    color: black;
}

/* 2 columns */

.sideleft {
    width: 50%;
    float: left;
}

.sideleft1 {
    width: 40%;
    float: left;
}

iframe{
    padding-left: 0px;
}

.sideright {
    width: 40%;
    float: right;
}

.sideright1 {
    text-align: center;
    width: 60%;
    float: right;
}

.sideright1 iframe{
    padding: 40px;
}

.sideright img {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px; /* Change this accordingly when more content is added */
    padding-left: 50px;
    width: 100%;
}

/* clearfix */

.clearfix {
    clear: both;
}

/* footer */

footer {
    border-top: 5px solid gainsboro;
    padding: 40px;
    background-color:#252525;
    /* Last Cloudia color 05173dde */
    text-align: center;
    color: #fff;
}

footer p {
    font-size: 14px;
}

/* social */

.social a {
    margin: 0 5px;
}

.social img {
    width: 30px;
}

/* Table Styling */

table, td, th{
    border: 1px solid rgb(207, 207, 207);
    border-collapse: collapse;

}
table{
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    box-shadow: 0, 10px, 60px rgba(0,0,0,0.5);
/* box shadow: 0, 10px, blur raidus, rgba shadow */
}
th, td{
    padding: none;
    text-align: center;
    transition: .3s;
}

td div img{
display: inline;
}

table h4{
    font-size: 1.25em;
}
table p{
    font-size: 0.5em;
}


/* Image Size within Tier List Table - Must do since we added tooltips */
div.tooltip img{
    height: 100px;
    width: 100px;
}

/* Wrappers for text above and below Tier List table */
#tier-wrapper1{
    width: 80%;
    margin: auto auto;
}
#tier-wrapper2{
    width: 80%;
    margin: auto auto;
}

.tablediv{
    transform: scale(0.8,0.8);
    margin: none;
    padding: none;
}

/* td.active, td:hover{
    background-color: grey;
    color: white;
    cursor: pointer; 
}
 */

/* Tooltips For the Tier List Table - In progress: Some for other site elements .tooltiptext is for tier table only */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-table;
    box-sizing: initial;
}

.tooltip-x{
    position: relative;
    display: inline;
    box-sizing: initial;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    /* padding: 5px 0; */
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    text-align: center;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px; /* Offsets tooltip for arrow */
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Tooltip for "Tier 0,1,2,etc..." description */
.tooltip-x .tooltiptext-x {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    /* padding: 5px 0; */
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    text-align: center;
    width: 480px;
    bottom: 100%;
    left: 50%;
    margin-top: 5px; /* Offsets tooltip for arrow */
    margin-left: -240px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip-x:hover .tooltiptext-x{
    visibility: visible;
}

/* Creates the arrow on tooltip */

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip-x .tooltiptext-x::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
/* Tier List page Specific */

.tierlist-ul{
    list-style: none;
    font-size: 20px;
    padding-left: 0;
}
.tierlist-ul li{
    padding: 5px;
}

.tierlabel{
    font-size: 1em;
    font-weight: bold;
}
.tierdesc{
    font-size: 0.75em;
}

/* Only for specific bolds, should probably reformat this */
.soon{
    font-weight: bold;
}

.note{
    font-weight: bolder;
}

.update{
    font-weight: bold;
    color: red;
}

/* Guides Page specific */

.ether-margin-control{
    padding-top: 75px;
}

main video{
    display: block;
}



/* Collapsible button attempt */

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
    opacity: 0.8;
}

  /* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

























@media only screen and (max-width: 1024px){

.banner-content{
    display: none;
    width: 60%;
    padding: 525px 25px;
}



/* Clearing all floats for mobile devices */
.sideright{
    width: 100%;
    float: none;

}
.sideright1{
    width: 100%;
    float: none;

}
.sideright-1{
    width: 100%;
    float: none;

}
.sideleft{
    width: 100%;
    float: none;

}
.sideleft-1{
    width: 100%;
    float: none;

}
.sideleft1{
    width: 100%;
    float: none;

}

}



@media only all and (max-width: 768px){  
    .banner-content{
        display: none;
        width: 60%;
        padding: 525px 25px;
    }



/* Clearing all Floats for Mobile Devices */
.sideright{
    width: 100%;
    float: none;

}
.sideright1{
    width: 100%;
    float: none;

}
.sideright-1{
    width: 100%;
    float: none;

}
.sideleft{
    width: 100%;
    float: none;

}
.sideleft-1{
    width: 100%;
    float: none;

}
.sideleft1{
    width: 100%;
    float: none;

}

}